.centerI {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  width: 85%;
}

.centerI2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.reveal h2 {
    font-size: 65px;
    color: #4d8dc9;
    text-align: left;
}

h2:after
{
    content:' ';
    display:block;
    border:2px solid #4d8dc9;
}

.f30 {
    font-size: 30px;
}

.f20 {
    font-size: 20px;
}